.app-header {
    background-color: var(--clr1);
    color: var(--clr2bg-light);
    
}

.header-container {
    display: flex;
    align-items: center;

}

.header-container h1 {
    flex-grow: 1;
}

.app-nav {
    display: flex;
    gap: 15px;
}


a.active {
    color: rgb(241, 212, 241);
    font-weight: 600;
    text-decoration: underline;
}

.app-header .progress-bar {
    width: 50%;
    display: inline-block;
    position: relative;
}

.app-header .progress-bar progress {
    width: 80%;
    height: 32px;
}

.app-header .progress-bar p {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: 'translate(-50%, -50%)';
    color: black;
}



@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg-light);
    }
}
